*{
margin: 0%;
padding: 0%;
box-sizing: border-box;

}
body{
    font-family: 'PT Sans', sans-serif;
}

.contenedor{
padding: 60px 0;
width: 90%;
max-width: 1000px;
margin: auto;
overflow: hidden;
}
.titulo{
    color:black;
    font-size: 30px;
    text-align: center;
    margin-bottom:60px;
}

header{
width:100%;
height: 600px;
background: #bdc3c7; 
 /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e5050, #bdc3c7), url(../img/ejemplo.jpeg); 
 /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e5050, #99a5adb0), url(../img/ejemplo.jpeg);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment:fixed;
position: relative;
}

header .textos-header{
display: flex;
height: 430px;
width:100%;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}
.textos-header h1{
font-size: 50px;
color:#fff;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}    

nav{
text-align: right;
padding: 30px 50px 0 0;
}
nav > a {
    color: white;
font-weight: 300px;
text-decoration: none;
margin-right:10px;
}
nav > a:hover {
text-decoration:underline;
}
.wave{
position: absolute;
bottom:0;
width:100%;
}

.contenedor-sobre-nosotros{
display: flex;
justify-content:space-evenly;
}

.imagen-about-us{
width:48%;
}

.sobre-nosotros .contenido-texto{
width:48%;
}

.contenido-textos h3 span{
margin-bottom: 15px;
}

.contenido-texto h3 span{
background-color:grey;
color:#fff;
border-radius:50%;
display: inline-block;
text-align: center;
width: 30px;
height: 30px;
padding: 2px;
box-shadow: 0 0 6px 0 rgba(0,0,0,.5) ;
margin-right: 5px;
}

.contenido-textos p{
padding: 0px 0px 0px 30px 15px;
font-weight: 300;
text-align: justify;

}

.cards{
display: flex;
justify-content: space-evenly;
}

.cards .card{
background: #bdc3c77c;
color: black;
display: flex;
width: 46%;
height: 200px;
align-items:center;
justify-content: space-evenly;
border-radius: 5px;
box-shadow: 0 0  6px 0 rgba(0, 0, 0, 0.6); 
}

.cards .card img{
width: 100px;
height: 100px;
object-fit: cover;
border: 3px solid #fff;
border-radius: 50%;
display: block;
}

.cards .card .contenido-texto-card{
width: 60%;
color:black;
}

.cards .card.contenido-texto-card.p {
font-weight:300;
padding-top:5px;
}

.about-services{
background: white;
padding-bottom:30px;
}

.servicio-cont{
display: flex;
justify-content:space-between;
align-items:center;
}
.servicio-ind {
width:20%;
text-align: center;
}

.servicio-ind img{
width:90%;
}
.servicio-ind h3{
margin: 10px 0;
}
.servicio-ind p {
font-weight: 300;
text-align: justify;
}    

footer{
    background: #bdc3c7; 
     /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e5050, #bdc3c7), url(../img/fondo.webp); 
     /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e5050, #99a5adb0), url(../img/fondo.webp);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment:fixed;
    position: relative;
padding: 60px  0 30px  0;
margin:auto ;
overflow: hidden;
}

.contenedor-footer{
display: flex;
width: 90%;
justify-content: space-evenly;
margin:auto;
padding-bottom: 50px ;
border-bottom:1px solid gray;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
color: grey;
border-bottom: 3px solid black;
padding-bottom: 5px;
margin-bottom: 10px;
 }
.content-foo p {
    color: grey;
 }
 .titulo-final{
     text-align: center;
     font-size: 24px;
     margin:  20px 0 0 0;
     color:#2c3e5050;
 }